{% extends 'base.html' %}

{% block content %}

<article class="container blog-post my-5">
    <h1 class="blog-post-title mb-4 display-4">{% block title %}{{ posts.title }}{% endblock %}</h1>

    <!-- Autor y Fecha -->
    <section class="author-date mt-3 d-flex align-items-center">
        {% if get_user(posts.author_id).photo is none %}
        <img src="{{ url_for('static', filename='img/user-dark.png') }}" width="50" alt="author photo" class="rounded-circle me-2">
        {% else %}
        <img src="{{ url_for('static', filename=get_user(posts.author_id).photo) }}" width="50" class="rounded-circle me-2" alt="author photo">
        {% endif %}
        <div class="ms-2 text-muted">
            <b>{{ get_user(posts.author_id).username }}</b>
            <br>
            {{ posts.created_on.strftime('%d de %B %Y') }}
        </div>
    </section>

    <!-- Resumen -->
    <section class="summary my-4">
        <h2 class="h4">Resumen</h2>
        <p class="lead">{{ posts.info }}</p>
    </section>

    <hr>

    <!-- Contenido del Blog -->
    <section class="content mb-5 mt-5">
        <h2 class="h4">Contenido</h2>
        {{ posts.content | safe }}
    </section>
</article>

{% endblock %}
